body {
    font-family: Roboto;
    background: url('../img/background.png');
    font-size: 16px;
}

input.form-control{
    height: 56px;
}

.navbar{
    text-transform: uppercase;
    margin-bottom: 0px;
}

@media(min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    i{
        font-size: 48px;
    }
    .navbar-brand{
        height: auto;
    }
}

@media(max-width: 767px){
    i {
        font-size: 30px;
    }
}

h1.index {
    font-family: Coda;
    letter-spacing: 10px;
    font-size: 64px;
    text-transform: uppercase;
}

h3.index {
    letter-spacing: 2px;
    font-size: 32px;
}

h3.recurring-transaction{
    padding-top: 16px;
    padding-bottom: 16px;
}

.btn {
    text-transform: uppercase;
}

.list-group-item{
    padding-top: 24px;
    padding-bottom: 24px;
}

.fa-remove{
    padding-left: 8px;
}

hr{
    border-color: #ddd;
}

li{
    text-transform: uppercase;
}