body {
    font-family: Roboto;
}

input.form-control{
    height: 44px;
}

.navbar{
    text-transform: uppercase;
}

@media(min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    i{
        font-size: 48px;
    }
    .navbar-brand{
        height: auto;
    }
}

@media(max-width: 767px){
    i {
        font-size: 30px;
    }
}
