{% extends "base.html" %}

{% block content %}
<div class="container" style="padding-top: 60px;">
    <div class="list-group">
     <div class="list-group-item">
        <div class="row text-center text-bold">
            <div class="col-xs-3">
                <h4><strong>Date</strong></h4>
            </div>
            <div class="col-xs-6">
                <h4><strong>Description</strong></h4>
            </div>
            <div class="col-xs-3">
                <h4><strong>Amount</strong></h4>
            </div>
        </div>
    </div>
        {% for recurring_transaction in recurring_transactions.items %}
            <a href="{{ url_for('transactions.recurring_transaction', id=recurring_transaction.id) }}"
               class="list-group-item">

                <div class="row text-center">
                    <div class="col-xs-3">
                        <span>{{ recurring_transaction.date}}<span>
                    </div>
                    <div class="col-xs-6 text-left">
                        <span>{{ recurring_transaction.description }}</span>
                    </div>
                    <div class="col-xs-3">
                        <span>${{ recurring_transaction.amount }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    {% from "bootstrap/pagination.html" import render_pagination %}
    {{ render_pagination(recurring_transactions) }}
</div>
{% endblock %}