{% extends "base.html" %}

{% block content %}
<div class="container">

    <h2>It's time to save</h2>
    <h2><small>Find and cancel your recurring payments</small></h2>
    <div class="list-group">
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-8" style="font-size: 20px">
                    <i class="fa fa-square-o" aria-hidden="true"></i>
                    Add accounts
                </div>
                <div class="col-xs-4">
                    <a href="{{ url_for('transactions.add_accounts') }}" class="btn btn-default pull-right">
                        Add accounts
                    </a>
                </div>
            </div>
        </div>
        <div class="list-group-item disabled">
            <div class="row">
                <div class="col-xs-12 text-muted" style="font-size: 20px">
                    <i class="fa fa-square-o" aria-hidden="true"></i>
                    Find recurring transactions
                </div>
            </div>
        </div>
    </div>



</div>
{% endblock %}